.cell-loadOrder, .header-loadOrder {
  text-align: center;
}

.cell-modIndex, .header-loadOrder {
  text-align: center;
}

.cell-group .header-group {
  min-width: 150px;
}

#table-gamebryo-plugins {
  // prevent word wrap
  .table-header-cell {
    white-space: nowrap;
  }
  .header-enabled {
    min-width: 150px;
  }
  .header-flags,
  .header-group {
    // need a bit of space so the dropdown menu is readable
    min-width: 150px;
  }
  .header-name {
    // use up remaining space
    width: 100%;
  }

  .cell-category {
    white-space: nowrap;
  }

  .cell-modName {
    white-space: nowrap;
  }
  
  .cell-flags {
    .icon-notifications {
      fill: $brand-warning;
    }
  }
}

#dropdown-gamebryo-plugins-enabled {
  padding: 2px 5px;
  border: 0px;
  border-left: $border-width solid transparentize($white, 0.5);
  min-width: 0px;
}

.btn-gamebryo-plugins-enabled-enabled, .toggle-gamebryo-plugins-enabled-enabled {
  background-color: $brand-success;

  &:hover, &:focus {
    background: darken($brand-success, 10%);
  }
}

.btn-gamebryo-plugins-enabled-disabled, .toggle-gamebryo-plugins-enabled-disabled {
  background-color: $gray;

  &:hover, &:focus {
    background: darken($gray, 10%);
  }
}


.rule-readonly {
  font-style: italic;
}

#manage-plugin-rules-dialog {
  .modal-dialog {
    width: 60%;
  }

  .userlist-existing-rules {
    overflow-y: auto;
    max-height: 300px;
    
    .btn {
      margin-left: 8px;
    }
  }

  .userlist-add-controls {
    display: flex;
    justify-content: space-between;

    > .Select {
      width: 150px;
      .Select-menu-outer {
        width: 150%;
      }
    }

    .userlist-select-plugin {
      flex: 1 1 0;
      &.select-pull-right {
        .Select-menu-outer {
          left: initial;
          right: 0;
        }
      }
    }

    .btn {
      margin-left: 8px;
    }
  }
}

.loot-message-list .alert {
  max-width: 300px;
  word-wrap: break-word;
}

.plugin-dependency-connector {
  text {
    fill: $text-color;
  }
  textPath {
    fill: $text-color;
  }
}

#plugin-group-editor {
  .modal-dialog {
    width: 60%;
  }

  .modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 1 0%;
    display: flex;
    padding: $half-gutter $gutter-width;
  }

  .group-editor-usage {
    position: absolute;
    bottom: $gutter-width;
    left: $gutter-width;
    background-color: $brand-bg;
    opacity: 0.75;
    border: $border-width solid $border-color;
    padding: 4px;
  }

  .group-graph {
    width: 100%;
    height: 500px;
  }
}
